@*@using Feasablty_study.Domin.ViewModels
@model ChangePasswordModel



      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
        
              <h4 class="mb-2">تغيير كلمة السر</h4>
               @if(TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>عذرا</b> - @TempData["Error"] </span>
                </div>
            }

<form  method="post"> 
      <div asp-validation-summary="All" class="text-danger"></div>                
                <div class="form-password-toggle mb-3">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">كلمة المرور السابقة !</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                    asp-for=CurrentPassword
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                      <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div> 
                

                <div class="form-password-toggle mb-3">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">كلمة المرور الجديدة !</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                    asp-for=NewPassword
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                      <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                
                
                <div class="form-password-toggle mb-3">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password"> تاكيد كلمة المرور  !</label>
                  </div>
                  <div class="input-group input-group-merge">
                    <input
                    asp-for=PasswordConfirm
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                      <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
              
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">تاكيد  </button>
                            </div>
                            </form>
                        
              

              
          <!-- /Register -->
        </div>
      </div>
    </div>
    </div>
    
  *@